Repository jun-hackaton-34/hackaton-project: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --max-warnings 0, npx prettier --check

add routing
  .eslintrc
  package-lock.json
  package.json
  src/App.tsx
  src/index.tsx
Due: npx eslint --max-warnings 0, npx prettier --check

add authentication
  src/context/AuthProvider.tsx
  src/lib/supabase.ts
  src/resources/ErrorState.interface.ts
Due: npx eslint --max-warnings 0

add auth context interface
  src/resources/AuthContext.interface.ts
Due: npx eslint --max-warnings 0

update config to process scss files
  .lintstagedrc.json
Due: npx prettier --check

add custom loader
  src/components/Loader/Loader.module.scss
  src/components/Loader/Loader.tsx
  src/components/Loader/index.ts
Due: npx eslint --max-warnings 0, npx prettier --check

add style reset
  src/App.scss
  src/index.scss
Due: npx prettier --check

improve auth performance
  src/components/Login/Login.tsx
  src/components/Register/Register.tsx
  src/context/AuthProvider.tsx
Due: npx eslint --max-warnings 0

improve ui, remove input after submitting
  src/components/RecoverPassword/RecoverPassword.tsx
Due: npx eslint --max-warnings 0

add styles
  src/components/Button/Button.module.scss
  src/components/Button/Button.tsx
  src/components/Footer/Footer.scss
  src/components/Footer/Footer.tsx
  src/components/Footer/index.ts
  src/components/Header/Header.module.scss
  src/components/Header/Header.tsx
Due: npx eslint --max-warnings 0, npx prettier --check

loader styles
  src/components/Loader/Loader.tsx
Due: npx eslint --max-warnings 0

add clsx package
  package-lock.json
  package.json
Due: npx prettier --check

fix linting issue
  .eslintrc
  src/index.tsx
Due: npx eslint --max-warnings 0

remove directive
  src/index.tsx
Due: npx eslint --max-warnings 0

add tsignore (sorry)
  src/helpers.ts
Due: npx eslint --max-warnings 0

fix deployment
  src/helpers.ts
  src/index.tsx
  src/pages/MainPage/Main.module.scss
  src/pages/MainPage/MainPage.tsx
  src/pages/MainPage/index.ts
  src/pages/main/index.ts
Due: npx eslint --max-warnings 0, npx prettier --check

fix deployment
  src/components/maze/index.ts
  src/context/AuthProvider.tsx
Due: npx eslint --max-warnings 0

delete maze
  src/components/maze/index.ts
  src/components/maze/maze.module.scss
  src/components/maze/maze.tsx
Due: npx eslint --max-warnings 0, npx prettier --check

add maze
  src/components/Maze/Maze.module.scss
  src/components/Maze/Maze.tsx
  src/components/Maze/index.ts
Due: npx eslint --max-warnings 0, npx prettier --check

edit readme
  README.md
Due: none

add main panel
  .husky/pre-commit
  .lintstagedrc.json
  index.html
  package.json
  src/assets/fonts/meeraInimai-regular.woff
  src/assets/fonts/meeraInimai-regular.woff2
  src/components/maze/maze.tsx
  src/index.scss
  src/index.tsx
  src/pages/main/main.module.scss
  src/pages/main/main.tsx
Due: npx eslint --max-warnings 0, npx prettier --check

add basic styling
  public/footer.png
  public/maze-bg.png
  public/vite.svg
  src/App.scss
  src/App.tsx
  src/components/Footer/Footer.scss
  src/components/Footer/Footer.tsx
  src/components/Footer/index.ts
  src/components/Login/Login.module.scss
  src/components/Login/Login.tsx
  src/components/Maze/Maze.module.scss
  src/components/Maze/Maze.tsx
  src/components/Register/Register.module.scss
  src/components/Register/Register.tsx
  src/index.scss
Due: npx eslint --max-warnings 0, npx prettier --check

Path conditions:
  npx eslint --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  npx prettier --check: any of: *{.json,html,css}
